@import 'base.css';

#messages {
        height: 70%;
        margin-bottom: 50px;
        font-size: xx-large;
}


.bottom-fixed {
        height: 50px;
        position: fixed;
        bottom: 0;
}

.input-name{
        left: 0;
        width: 10%;
        background-color: #282828;
        color: white;
        font-size: x-large;
        padding-left: 10px;
}

.input-msg {
        left: 0;
        width: 80%;
        background-color: #282828;
        color: white;
        font-size: x-large;
        padding-left: 10px;
        margin-left: 10%;
}

.input-msg:focus, input:focus{
        outline: none;
}

.msg-submit {
        right: 0;
        width: 10%;
        background-color: #282828;
        color: white;
        font-size: x-large;
}